
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0
}
a {
	text-decoration: none
}
body, html {
	font-family: 'Open Sans';
	font-size: 16px;
	color: #6e6e6e
}
.wrapper__beackgraund {
	background-color: #f5f5f5;
	margin: 0 auto
}
.Wrapper__backgrpued-white {
	background-color: #fff
}
.wrapper .main {
	margin: 0 auto;
	max-width: 1200px;
	min-height: 100%
}
.wrapper .main .header>.box {
	min-height: 200px;
	font-size: 38px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	padding: 0 30px
}
.wrapper .main .header {
	min-height: 100px;
	width: 100%
}
.wrapper .main .header .head {
	margin-left: 10px;
	text-align: center;
	height: 40px;
	width: 110px;
	outline: #706b73 solid 4px;
	color: #494949
}
.wrapper .main .header .head .head p {
	padding-top: 6px
}
.wrapper .main .header .head .head__logo {
	color: #fc6f4e
}
.wrapper .main .header .head .head__logo p {
	margin-top: 5px
}
.wrapper .main .header .header__menu-img {
	display: block;
	margin: 5px
}
.wrapper .main .box .top__text {
	margin-top: 50px;
	text-align: center
}
.wrapper .main .top__text-in span {
	color: #fc6f4e
}
.wrapper .main .top__text-in {
	font-size: 50px;
	color: #333
}
.wrapper .main .top__form {
	text-align: center;
	margin-top: 110px;
	width: 370px;
	height: 380px;
	background-color: #fff
}
.wrapper .main .top__form:hover {
	box-shadow: 0 0 30px rgba(0, 0, 0, .5)
}
.wrapper .main form p {
	font-size: 20px
}
.wrapper .main .top__form ul li {
	list-style-type: none;
	list-style-position: outside;
	height: 70px
}
.wrapper .main .form__input {
	margin: auto;
	border: none;
	background: 0 0;
	border-bottom: 1px solid #c7c7c7;
	width: 300px;
	height: 40px
}
.wrapper .main .form__text {
	padding-top: 30px
}
.wrapper .main form p span {
	color: #fa9a87
}
.wrapper .main .form__button {
	width: 230px;
	height: 55px;
	border-radius: 30px;
	background-color: #ff5c36;
	color: #fff;
	cursor: pointer
}
.wrapper .main .form__button:active {
	background-color: #494949
}
.wrapper .main .form__input-text {
	text-align: left;
	font-size: 14px;
	padding-left: 37px
}
.wrapper .main .wrapper__section-top {
	min-height: 780px
}
.wrapper .main .section__center-top {
	padding-top: 150px;
	margin-bottom: 120px
}
.wrapper .main .top__text__working {
	text-align: center;
	font-size: 50px;
	color: #333
}
.wrapper .main .top__text-small {
	text-align: center
}
.wrapper .main .top__menu {
	margin: 25px 5px;
	width: 260px;
	height: 260px;
	color: #f2f8fe
}
.wrapper .main .top__menu:hover {
	box-shadow: 0 0 30px rgba(0, 0, 0, .5)
}
.wrapper .main .top__menu__center-one {
	background-color: #4eb2f7
}
.wrapper .main .top__menu__center-two {
	background-color: #c049f8
}
.wrapper .main .top__menu__center-three {
	background-color: #817eff
}
.wrapper .main .top__menu__center-four {
	background-color: #f74770
}
.wrapper .main .wrapper__center {
	box-sizing: border-box;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 50px
}
.wrapper .main .top__menu__inside {
	margin: 50px 0 20px;
	max-width: 50px;
	max-height: 50px
}
.wrapper .main .center__menu-check li {
	text-align: center;
	list-style-type: none;
	list-style-position: outside
}
.wrapper .main .center__top-in span {
	font-size: 20px
}
.wrapper .main li .center__button {
	margin: 45px 0;
	width: 230px;
	height: 60px;
	align-self: center;
	background-color: #fff;
	border: 1px solid silver;
	border-radius: 30px
}
.wrapper .main li .center__button:hover {
	box-shadow: 0 0 30px rgba(57, 167, 161, .8)
}
.wrapper .main li .center__button:active {
	box-shadow: 0 0 30px rgba(71, 117, 163, .4);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2)));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2))
}
.wrapper .main .red__square .box {
	text-align: center
}
.wrapper .main .red__square-flex {
	-webkit-box-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: flex
}
.wrapper .main .red__squere__text p {
	color: #333;
	font-size: 50px
}
.wrapper .main .red__squere__text {
	text-align: center;
	padding-top: 130px;
	padding-bottom: 110px
}
.wrapper .main .red__squere__text span {
	color: #fc6f4e;
	font-size: 50px
}
.wrapper .main .red__square-box {
	margin: 10px 15px;
	max-width: 30%;
	height: 30%
}
.wrapper .main .red__square-box img {
	width: 100%;
	height: 100%
}
.wrapper .main .section__Provide-text {
	text-align: center;
	margin: 140px auto 130px
}
.wrapper .main .section__Provide-text span {
	color: #fc6f4e;
	font-size: 50px
}
.wrapper .main .section__Provide-text p {
	font-size: 50px;
	color: #333
}
.wrapper .main .section_Provide-left {
	height: 400px;
	width: 110px
}
.wrapper .main .section__Provide-img {
	background-color: #e6e6e6;
	margin: 4px;
	width: 100px;
	height: 90px;
	outline: #dbdbda solid 1px
}
.wrapper .main .section__Provide-img:hover {
	background-color: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5)
}
.wrapper .main .section_Provide-center {
	margin-left: 40px
}
.wrapper .main .section__Provide__center-text span {
	border-bottom: 3px solid #ff5c36;
	outline-offset: 10px;
	padding-bottom: 7px
}
.wrapper .main .section__Provide__center-text p {
	font-size: 30px
}
.wrapper .main .section__Provide-wrapper {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center
}
.wrapper .main .center__buttonin {
	font-size: 16px;
	color: #5c5c5c;
	margin-top: 40px;
	width: 230px;
	height: 60px;
	border-radius: 30px;
	border: 1px solid #ededed;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	cursor: pointer
}
.wrapper .main .center__buttonin:hover {
	color: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5)
}
.wrapper .main .section_Provide-right {
	width: 320px;
	height: 440px;
	margin-left: 80px
}
.wrapper .main .section_Provide-right-apple-watch {
	width: 100%;
	height: 100%
}
.wrapper .main .team {
	background-color: #f5f5f5;
	min-height: 820px
}
.wrapper .main .team__text p {
	color: #333;
	font-size: 50px
}
.wrapper .main .team__text {
	text-align: center;
	margin: 140px auto 130px
}
.wrapper .main .team__text span {
	color: #fc6f4e;
	font-size: 50px
}
.wrapper .main .team__card {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	justify-content: center
}
.wrapper .main .card {
	width: 360px;
	height: 450px;
	margin: 15px
}
.wrapper .main .card:hover {
	box-shadow: 0 0 30px rgba(0, 0, 0, .5)
}
.wrapper .main .card__right {
	background-image: url(img/man-4568762_1920.jpg);
	background-size: cover;
	background-position: center
}
.wrapper .main .card__left {
	background-image: url(img/man-1209494.jpg);
	background-size: cover;
	background-position: center
}
.wrapper .main .card__left-in {
	background-color: #fff;
	width: 260px;
	height: 100px;
	margin: 370px 50px 0;
	text-align: center;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5)
}
.wrapper .main .card__right-in {
	text-align: center;
	background-color: #fff;
	width: 260px;
	height: 100px;
	margin: 370px 50px 0;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5)
}
.wrapper .main .card__left-in span {
	font-size: 30px
}
.wrapper .main .card__left-in p {
	font-size: 16px
}
.wrapper .main .card__right-in span {
	font-size: 30px
}
.wrapper .main .card__right-in p {
	font-size: 16px
}
.wrapper .main .card__center {
	background-image: url(img/photographer-5149664.jpg);
	background-size: cover;
	background-position: center;
	width: 360px;
	height: 450px;
	background-color: #fff3f0
}
.wrapper .main .card__center-flex {
	margin-top: 180px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center
}
.wrapper .main .card__center-line-text {
	font-size: 10px;
	margin-bottom: 10px
}
.wrapper .main .card__center-skill {
	margin: 5px;
	width: 160px;
	height: 30px
}
.wrapper .main .card__center-line1 {
	max-width: 150px;
	background-color: #817f7e
}
.wrapper .main .card__line-create1 {
	height: 4px;
	width: 120px;
	background-color: #ff6e47
}
.wrapper .main .card__line-create2 {
	height: 4px;
	width: 100px;
	background-color: #ff6e47
}
.wrapper .main .card__line-create3 {
	height: 4px;
	width: 115px;
	background-color: #ff6e47
}
.wrapper .main .card__center-text {
	margin-top: 60px
}
.wrapper .main .card__center-text p span {
	font-size: 30px;
	color: #565352
}
.wrapper .main .card__center-text p {
	text-align: center;
	font-size: 17px;
	color: #fc6f4e
}
.wrapper .main .card__center-link {
	margin: 8px 0
}
.wrapper .main .clients {
	min-height: 650px
}
.wrapper .main .clients__slider-side1-text-top {
	margin-top: 60px
}
.wrapper .main .clients__slider-side-head {
	width: 100px;
	height: 100px;
	border-radius: 70px;
	border: 1px solid #cfcfcf;
	margin: -50px auto 0
}
.wrapper .main .clients_head-One {
	background-image: url(img/woman-4644496_1920.jpg);
	background-size: cover;
	background-position: center
}
.wrapper .main .clients_head-Two {
	background-image: url(img/man-4672229_1920.jpg);
	background-size: cover;
	background-position: top
}
.wrapper .main .clients__text p {
	color: #333;
	font-size: 50px
}
.wrapper .main .clients__text {
	text-align: center;
	font-size: 16px;
	margin-top: 130px
}
.wrapper .main .clients__text span {
	color: #fc6f4e;
	font-size: 50px
}
.wrapper .main .clients__slider {
	margin-top: 30px
}
.wrapper .main .clients__slider-flex {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: wrap
}
.wrapper .main .clients__slider-side {
	margin: 90px 15px 15px 0;
	width: 530px;
	min-height: 270px;
	text-align: center;
	font-family: "Source Sans Proc Regular", sans-serif;
	border: 1px solid #cfcfcf
}
.wrapper .main .clients__slider-side:hover {
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	border: none
}
.wrapper .main .clients__slider-side1-text-bottom p span {
	font-family: "Source Sans Pro SemiBold", sans-serif
}
.wrapper .main .clients__slider-side1-text-bottom p {
	font-family: "Source Sans Pro italic", sans-serif
}
.wrapper .main .clients__slider-side1-img {
	margin: 20px
}
.wrapper .main .slider {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	margin: 40px 15px 0 0
}
.wrapper .main .switch {
	margin: 4px;
	width: 18px;
	height: 6px;
	background-color: #e0e0e0;
	border: none
}
.wrapper .main .switch:focus {
	background-color: #ff6e47;
	outline: 0
}
.wrapper .main .partners {
	min-height: 200px;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #fbfbfb
}
.wrapper .main .partners .partners__link {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: wrap
}
.wrapper .main .partners__img {
	margin: 30px;
	-webkit-box-flex: 1;
	flex-grow: 1
}
.wrapper .main .footer {
	min-height: 250px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	background-color: #f7f7f7
}
.wrapper .main .contacts {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center
}
.wrapper .main .contacts__button-in {
	width: 240px;
	height: 60px;
	border-radius: 50px;
	background-color: #fdfdfd;
	outline: 0;
	border: none;
	box-shadow: 0 8px 10px rgba(0, 0, 0, .3);
	font-size: 16px;
	margin-top: 20px
}
.wrapper .main .contacts__button-in:hover {
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	color: silver
}
.wrapper .main .contacts__link__box {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #d3d3d3;
	text-align: center
}
.wrapper .main .contacs__link {
	display: -webkit-box;
	display: flex;
	margin-top: 50px
}
.wrapper .main .contacs__link a {
	margin: 0 5px;
	width: 50px;
	height: 50px;
	border-radius: 50px
}
.wrapper .main .contacts__link-img {
	display: block;
	padding: 16px 17px 19px 16px
}
.wrapper .main .contacts__link__img-fb {
	padding: 15px 17px 19px 20px
}
.wrapper .main .contacts__link__box:hover {
	background-color: #fc6f4e;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5)
}
.wrapper .main .contacts-text p {
	margin: 15px 0
}
@media screen and (max-width:1186px) {
	.wrapper .main .card__center {
		-webkit-box-ordinal-group: 4;
		order: 3
	}
}
@media screen and (max-width:700px) {
	.wrapper .main .section_Provide-left {
		display: none
	}
	.wrapper .main .section_Provide-center {
		margin-left: 20px
	}
	.wrapper .main .red__square-box {
		margin: 2px 3px
	}
	.wrapper .main .section_Provide-right {
		display: none
	}
}
/*# sourceMappingURL=styles.css.map */
